@font-face {
	font-family: Sketch_Block;
	src: url('../fonts/Sketch_Block.ttf')
	format('truetype');
}

@font-face {
	font-family: Kanyanut;
	src: url('../fonts/Kanyanut.ttf')
	format('truetype');
}

